$backgroundColor: #F8FAFA
$textColor: black
$headerColor: black
$headerTextColor: #0088e5
$tableRowOne: #F8FAFA
$tableRowTwo: #EAF4F4
$tableBorderColor: #0088e5

$redFaction: #b40804
$blueFaction: #0e8bdf
$yellowFaction: #d6bf7c
$grayFaction: #c7bcaa

body
    background: $backgroundColor
    text-align: center
    color: $textColor
    font-size: 16px
    font-family: 'LatoWeb', sans-serif

body a,
body a:link,
body a:visited
    color: $headerTextColor

footer
    font-size: 0.8em

header
    .headerContainer
        background: $headerColor
    .title
        float: left
        margin-left: 10px
        color: $headerTextColor
    img.logo
        height: 75px
        float: left

.leftAlignCol
    text-align: left

.table-striped>tbody>tr:nth-of-type(odd)
    background: $tableRowOne

.table-striped>tbody>tr:nth-of-type(even)
    background: $tableRowTwo

.table-bordered
    border: none
    border-top: 1px solid $tableBorderColor

.table-bordered>thead>tr>th
    border: none
    border-bottom: 1px solid $tableBorderColor

.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td
    border: none

section.content
    margin: 20px 0

    header
        margin-bottom: 20px

    .buttons
        a
            margin: 5px
    .alignmentIcon
        width: 16px

// .ngdialog-content
    // Override the ngDialog default
    // width: 200px !important

.cardViewContainer
    img
        max-width: 185px

.colorIcon
    width: 16px
    height: 16px
    margin: 0 auto

.redColorIcon
    background: $redFaction

.blueColorIcon
    background: $blueFaction

.yellowColorIcon
    background: $yellowFaction

.grayColorIcon
    background: $grayFaction

article.contentWrapper
    section.content
        width: 85%
        float: left
    section.advert
        margin-top: 40%
        width: 15%
        max-width: 300px
        float: left
