<header ngheader=""></header>
<section class="content">
  <div class="buttons row">
    <a ng-repeat="lib in data.libs" href="{{lib.url}}" target="_black" class="btn btn-default btn-sm">{{lib.name}}</a>
  </div>
  <table ng-table="vm.tableParams" show-filter="false" class="table table-condensed table-bordered table-striped">
    <tr ng-repeat="card in data.exampleTableData">
      <td title="'Name'" class="nameCol" filter="{ name: 'text'}" sortable="'name'">
        <a ng-mouseover="clickToOpen(card)" ng-mouseleave="closeAll()" > {{card.name}} </a>
      </td>
      <td title="'Alignment'" filter="{ alignment: 'text'}" sortable="'alignment'">
        <img ng-if="card.alignment == 'villain'" src="http://i.imgur.com/xMw13Rt.png"
         alt='Villain' class="alignmentIcon">
        <img ng-if="card.alignment == 'hero'" src="http://i.imgur.com/19X4awj.png"
        alt='Hero' class="alignmentIcon">
        <img ng-if="card.alignment == 'neutral'" src="http://i.imgur.com/Q5fYJ9L.png"
        alt='Neutral' class="alignmentIcon">
      </td>
      <td title="'Color'" filter="{ type: 'text'}" sortable="'color'">
        {{card.color}}
      </td>
      <td title="'Type'" filter="{ type: 'text'}" sortable="'type'">
        {{card.type}}
      </td>
      <td title="'Resource Cost'" filter="{ resource_cost: 'integer'}" sortable="'resource_cost'">
        {{card.resource_cost}}
      </td>
      <td title="'Dice'" filter="{ dice: 'boolean'}" sortable="'dice'">
        {{card.has_dice}}
      </td>
      <td title="'Set'" filter="{ set: 'text'}" sortable="'set'">
        {{card.set}} {{card.set_number}}
      </td>
    </tr>
  </table>
</section>

<script type="text/ng-template" id="templateId">
    <h1>Template heading</h1>
    <p>Content goes here</p>
</script>

<footer ngfooter=""></footer>
